html,
body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
p,
span {
  color: #4f4e4e;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#projects a {
  text-decoration: none;
  height: 130px;
}
#projects a:hover {
  background: #f6f6f6;
  cursor: pointer;
}

.mtb {
  margin-top: 10px;
  margin-bottom: 10px;
}