html,
body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}
p {
  color: #73777b;
}
footer {
  margin-top: 50px;
  display: flex;
  align-items: center;
  height: 100px;
}

#home {
  margin-top: 200px;
  margin-bottom: 200px;
}

#projects a {
  /* background-color: #141414; */
  text-decoration: none;
  height: 150px;
}
#projects a:hover {
  /* background: #272727; */
  cursor: pointer;
}
.mtb {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mtb-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mtb-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.toggle input[type="checkbox"] {
  display: none;
}

.toggle label {
  background-color: #000;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all ease-in-out 0.2s;
  width: 47px;
  height: 27px;
}
.toggle label::after {
  background-color: #555;
  border-radius: 50%;
  content: " ";
  cursor: pointer;
  display: inline-block;
  position: absolute;
  left: 2px;
  top: 2px;
  transition: all ease-in-out 0.2s;
  width: 23px;
  height: 23px;
}
.toggle input[type="checkbox"]:checked ~ label {
  background-color: #fff;
}

.toggle input[type="checkbox"]:checked ~ label::after {
  background-color: #555;
  transform: translateX(20px);
}
