html,
body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
span {
  color: #3a3845;
}
p {
  color: #73777b;
}

#home {
  margin-top: 200px;
  margin-bottom: 200px;
}

#projects a {
  text-decoration: none;
  height: 150px;
}
#projects a:hover {
  background: #f6f6f6;
  cursor: pointer;
}
.mtb {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mtb-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mtb-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
